# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist/
build/

# Vite cache
.vite/

# IDE specific files
.vscode/
.idea/
.DS_Store

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*.bak
*.orig

# Dependency directories
jspm_packages/

# TypeScript
*.tsbuildinfo

# MacOS
.DS_Store

# Linux
*~

# Intern
documents/